
@import '~antd/dist/antd.css';

body, html {
  height: 100%;
  margin: 0;
}
.App {
  width: 100%;
  height: 625px;
  display: block;
  color: #ffffff;
}
@import './styles/scss/headerHome.scss';
@import './styles/scss/aboutHome.scss';
@import './styles/scss/memberHome.scss';
@import './styles/scss/login.scss';
@import './styles/scss/userHome.scss';
@import './styles/scss/profile.scss';
@import './styles/scss/inputType.scss';
@import './styles/scss/mainHome.scss';

