.StatusContainer{
    // background-color: #242526;
    margin-top: 11px;

    & textarea::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    & textarea::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    
    & textarea::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555;
    }

}
.NewsContainer{
    background-color: #242526;
    margin-top: 11px;
    width: 60%;
    & p {
        color: #ffffff;
    }
    & .UserNameContainer {
        color: #ffffff;
    }

    .comment-action {
        padding-left: 8px;
        cursor: 'auto';
      }
      
      [class*='-col-rtl'] .comment-action {
        padding-right: 8px;
        padding-left: 0;
      }
    & .ant-comment-actions{
        display: contents;
        & li span {
            font-size: 19px;
            & span{
                color: #ffffff;
            }
        }
    }
    & .ant-list-items{
        display: contents !important;
    }
    & .ant-comment-content-author-name{
        color: #ffffff;
    }
}

.ant-col {
    & .StatusContainer {
        margin-left: 35%;
    }
    & .NewsContainer{
        margin-left: 35%;
    }
}

.ProjectContainer{
    & div {
        margin-top: 5px;
    }
    & label {
        color: #fff;
    }
    & .ProjectForm{
        margin-left: 6%;
        & .LabelContainer {
            margin-left: 0%;
        }
    }
    & .ant-picker-range{
        margin-left: 93px;
        width: 300px;
    }
    & .ProjectButton{
        margin-left: 343px;
    }
}