.MemberContainer{
    height: 500px;
    margin-top: 17px;
    background-color: #ffffff;
    .MemberTop-left{
        margin-left: -160px;
    }
    .Vertical-heading{
        display: inline-block;
        position: relative;
        & h5{
            transform: rotate(-90deg);
            position: absolute;
            top: 58px;
            text-transform: uppercase;
            left: -86px;
            color: #f4c613;
            font-size: 14px;
            font-weight: 500;
            word-spacing: 9px;
        }
        & strong,h2 {
            font-size: 42px;
            font-weight: 100;
        }
        & strong {
            font-weight: 700;
        }
    }

    & p{
        margin-left: -13px;
    }

    .ant-carousel .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden;
      }
      
      .ant-carousel .slick-slide h3 {
        color: #fff;
      }
}