.UserHomeContainer {
      ul {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        background-color: #242526 !important;
        border-bottom: 1px solid #666565 !important;
        height: 64px;
      }
     .logo {
        // height: 32px;
        // text-align: center;
        color: #ffffff;
        font-size: 18px;
        // margin: 16px;
        cursor: pointer;
      }
      .ant-layout-header{
        display: flex;
      }
      .ant-menu{
        margin: auto;

      }
      .ant-menu.ant-menu-dark .ant-menu-item-selected {
        border-radius: 6px;
      }
      #components-layout-demo-fixed .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
      }
}
